<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-wpf.txt">

  <!-- enable layout renderers -->
  <extensions>
    <add assembly="NLog.Extensions.Logging"/>
  </extensions>

  <!-- a "target" is a destination for logs -->
  <targets>
    <!-- File Target for structured JSON -->
    <target name="jsonfile" xsi:type="File" fileName="logs/wpf-${shortdate}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="properties" encode="false">
            <layout type='JsonLayout' includeAllProperties="true" />
        </attribute>
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
      </layout>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="jsonfile" />
  </rules>
</nlog>
